@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* --- Variables --- */

:root {
  --theme-color: #4e7ba7;
  --bg-light-color: #d3d0da;
  --bg-dark-color: #b5b3be;
  --text-color: #0b1320;
  --link-color: #d28f1b;
}
/* --- General CSS --- */
.marginauto {
    margin: 10px auto 20px;
    display: block;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
h1 {
  color: var(--text-color);
  font-size: 0.9rem;
}